@model AbInDenUrlaub.Nutzer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nutzer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nachname" class="control-label"></label>
                <input asp-for="Nachname" class="form-control" />
                <span asp-validation-for="Nachname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vorname" class="control-label"></label>
                <input asp-for="Vorname" class="form-control" />
                <span asp-validation-for="Vorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tokenstand" class="control-label"></label>
                <input asp-for="Tokenstand" class="form-control" />
                <span asp-validation-for="Tokenstand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vermieter" class="control-label"></label>
                <input asp-for="Vermieter" class="form-control" />
                <span asp-validation-for="Vermieter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin" class="control-label"></label>
                <input asp-for="Admin" class="form-control" />
                <span asp-validation-for="Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
